a{
    border: 3px;
    border-color: chartreuse
}
p{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
h1{
    color: red;
}
a{
    color: aqua;
}